{% extends 'core/base.html' %}

{% load bootstrap4 %}

{% block content %}
<div class ="container">
    <form class="form" method="post" action="{% url 'login' %}?next={{ next }}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
    </form>
</div>
{% endblock %}
