{% extends 'core/base.html' %}

{% load bootstrap4 i18n %}

{% block content %}
<div class ="container">
    <form class="form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button _("Save") button_type="submit" button_class="btn-primary" %}
        <a href="{% url 'core:authors' %}" class="btn btn-light">{% trans 'Cancel' %}</a>
    </form>
</div>
{% endblock %}
